h1 {
  color: green;
}

.error {
  color: rgb(255, 0, 0);
  background: rgb(226, 223, 223);
  font-size: 20px;
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(255, 0, 0);
  padding: 15px;
  margin-bottom: 10px;
}

.validation {
  color: rgb(0, 155, 21);
  background: rgb(187, 252, 174);
  font-size: 20px;
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(0, 155, 21);
  padding: 15px;
  margin-bottom: 10px;
}