h1 {
  color: green;
}

.error {
  color: rgb(216, 216, 216);
  background: rgb(255, 46, 46);
  font-size: 18px;
  border-style: dashed;
  border-radius: 15px;
  border-color: rgb(255, 255, 255);
  padding: 15px;
  margin-bottom: 10px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.validation {
  color: rgb(0, 0, 0);
  background: rgb(187, 252, 174);
  font-size: 18px;
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(0, 155, 21);
  padding: 15px;
  margin-bottom: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}